body {
  font-size: 16px;
  font-family: Barlow;
}

header,
footer {
  background-color: midnightblue;
  padding: 1rem;
}

header,
footer,
main {
  margin: 0 auto;
  max-width: 760px;
}

main {
  padding-left: 1rem;
}

footer {
  text-align: center;
}

footer p {
  margin: 0.3rem;
  color: white;
}

footer a {
    color: white;
}

footer a:visited {
    color: firebrick; 
}

header img {
  height: 200px;
  width: auto;
  display: block;
  margin: 0 auto;
}

h1 {
  color: white;
  font-size: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 3rem;
}

h2 {
  border-bottom: 2px solid #888;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

ul {
  margin-top: 0.5rem;
}

.portal {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-right: 3rem;
}

#lastUpdated {
  color: yellow;
  font-size: 0.8rem;
}
