@media only screen and (min-width: 57rem) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    section:nth-child(3) {
        grid-column: span 1;
    }

    header,
    footer {
        border-radius: .5rem;
    }

    section {
        max-width: 17rem;
    }

    img {
        max-width: 16rem;
    }
    
    h2,
    p {
        max-width: 15rem;
    }
}